<div class="side-image-content">
  <h4>Hello <%= current_user.name ? current_user.name : current_user.nickname %> </h4>

  <div class="user-image">
  </div>

  <h5>Your profile:</h5>


</div>



<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Your description
    </h1>
    <p><%= current_user.description %></p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <%= image_tag current_user.avatar_url %>
    <h1 class="flex-title">Your Profile Picture</h1>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">Your Github Accouht</h1>
    <p><%= current_user.html %></p>
  </a>
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Your Preferred Languages</h1>
    <p><% current_user.langauges.each do |language| %>
      <ul>
        <li><%= language if language.status == 'like' %></li>
      </ul>
    </p>
  </a>


  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1 class="flex-title">Flex Box Item</h1>
    <p><%= current_user.html %></p>
  </a>

  <a href="javascript:void(0)" class="flex-box">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
    <h1 class="flex-title">Last Flex Box Item</h1>
    <p><%= current_user.html %></p>
  </a>
</div>
