    <h1>Hello <%= current_user.name ? current_user.name : current_user.nickname %> </h1>
    <%= image_tag current_user.avatar_url %>
  <div class="matches_path">
    <form action="/matches/<%=current_user.id%>">
      <input type="submit" value="Find Your Perfect Pair Pooky", class="dash-button">
    </form>
  </div>

  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
      </div>
      <div class="bullet-content">
        <h2>Your description</h2>
        <p><%= current_user.description %></p>
        </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
      </div>
      <div class="bullet-content">
        <h2>Your Github Account</h2>
        <p><%= current_user.html_url %></p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
      </div>
      <div class="bullet-content">
        <h2>Your Preferred Languages</h2>
        <p><% current_user.languages.each do |language| %>
          <ul>
            <li><%= language.name %></li>
          </ul>
        <% end %>
        </p>
      </div>
    </li>

    <% if current_user.hireable %>


    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
      </div>
      <div class="bullet-content">
        <h2>Looking for Work?</h2>
        <p><%= current_user.hireable %></p>
      </div>
    </li>

    <% end %>

    <% if current_user.following %>

    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
      </div>
      <div class="bullet-content">
        <h2>The People You Follow on Github</h2>
        <p><%= current_user.following %></p>
      </div>
    </li>

    <% end %>

    <% if current_user.followers %>

    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
      </div>
      <div class="bullet-content">
        <h2>Your Github Followers</h2>
        <p><%= current_user.followers %></p>
      </div>
    </li>

    <% end %>

    <% if current_user.matches.where(status: 3).count > 0 %>
      <h2>These are your current matches!!</h2>

    <% current_user.matches.where(status: 3).each do |match|  %>
      <li class="bullet">
        <div class="bullet-icon bullet-icon-2">
          <%= image_tag(match.avatar_url) if match.avatar_url %>
        </div>
        <div class="bullet-content">
          <h2><%= match.name ? match.name : match.nickname %></h2>
          <p>
            <%= match.description %>
          </p>
          <p><%= current_user.hireable %></p>
        </div>
      </li>
      <% end %>
    <% end %>

  </ul>

<hr>
<%= link_to "Logout? Sad Days", logout_path, method: :delete %>
