<div class="match">
  <% if @match != nil %>

  <div class="match-inner">
    <a href="" class="match-logo"><%= image_tag(@match.avatar_url) %></a>
    <div class="match-copy">
      <h1><%= @match.name ? @match.name : @match.nickname %></h1>
      <div class="buttons">
      <%= button_to "OrNot", matches_not_path(matchee_id: @match.id), method: :post, class: "left" %><%= button_to "Hot", matches_hot_path(matchee_id: @match.id), method: :post, class: "right" %>
      </div>
      <p><%= @match.description %></p>
      <p>Creep on, creeping on: <%= link_to "a link to their Github", (@match.html_url) %></p>
      <p>Their preferred languages: <% @match.languages.each do |language| %>
          <ul>
            <li><%= language.name %></li>
          </ul>
        <% end %>
      </p>
    </div>
  </div>

  <% else %>
    <h1>There are currently no more users to match with. You blew threw them all. Impressive</h1>
  <% end %>

</div>
